<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Regression.FreshiiProject.FWA_020"/>
      <class name="Regression.FreshiiProject.FWA_012"/>
      <class name="Regression.FreshiiProject.FWA_011"/>
      <class name="Regression.FreshiiProject.FWA_016"/>
      <class name="Regression.FreshiiProject.FWA_017"/>
      <class name="Regression.FreshiiProject.AppTest"/>
      <class name="Regression.FreshiiProject.FWA_014"/>
      <class name="Regression.FreshiiProject.FWA_018"/>
      <class name="Regression.FreshiiProject.FWA_019"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
